/* BARRA NAVEGACIÓN*/
    
    /* Inicio barra navegación */
    .navbar-brand{
        font-weight: 300;
        color: rgb(242, 250, 253);
    }
    .navbar-brand:hover{
        font-weight: 450;
        color: rgb(242, 250, 253);
    }

    /* Fondo barra navegación */
    .navbar.navbar-expand-lg.bg-light{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .navbar.navbar-expand-lg.bg-light.dark{
        background: #848a9d !important;
    }

    /* Búsqueda barra navegacion*/
    .btn.btn-outline-success{
        color: orange;
        border-color: orange;
    }
    .btn.btn-outline-success.dark{
        color: white;
        border-color: white;
    }

/* BODY */
body{
    background-color: rgb(242, 250, 253);
    transition: .3s ease all;
}
body.dark{
    background-color: #191e20;
    transition: .3s ease all;
}