{% extends 'base.html' %}
{% block contenido %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <a href="{% url 'nueva_receta' %}" class="top-menu">
		<button class="btn btn-sm btn-outline-secondary" type="button" onclick="">Añadir Receta</button>
	</a>
    {% for busqueda in busquedas %}
        <div class="div-index-comida">
            <br><a class="a-index-comida" href="{% url 'detalles' busqueda.id %}">{{busqueda.nombre}}</a>
            <br><br><img src="/{{busqueda.foto}}" class="index-imagen"><br>
        </div>
    {% endfor %}
{% endblock %}