{% extends 'base.html' %}
{% block contenido %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/login.css' %}">

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <!-- Contenido -->
    <div class="todo_login">
        <p class="titulo_login">Iniciar Sesión</p>
        <form method="post" class="form_login" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            <br>
            {{ form.password.label_tag }}
            {{ form.password }}
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Acceder">
            <input type="hidden" name="next" value="{{ next }}">
            
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Olvidó su contraseña?</a></p>
        </form>
    </div>
{% endblock %}