<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DAI</title>
    </head>
    <body>
        <h1>Bienvenido a la página de DAI</h1>
        <h2>Estas son las opciones actuales de la página :</h2>
        
        <h3>Práctica 1</h3>
        <ul>
            <li>/criba/[numero]/</li>
            <li>/fibonacci/[numero]/</li>
            <li>/cadena/[cadena de corchetes]/</li>
            <li>/eregulares/[cadena]/</li>
            <li>/imagen/</li>
            <li>/svg/</li>
        </ul>
        
        <h3>Práctica 2.1</h3>
        <ul>
            <li>/todas_recetas/</li>
            <li>/recetas_de/[elemento]/</li>
            <li>/recetas_con/[elemento]/</li>
            <li>/recetas_compuestas_de/[numero]/ingredientes/</li>
        </ul>
        
        <h3>Práctica 2.2</h3>
        <ul>
            <li>GET&nbsp;&nbsp;&nbsp;&nbsp;/api/recipes/</li>
            <li>POST&nbsp;&nbsp;&nbsp;&nbsp;Archivo test.http</li>
            <li>GET&nbsp;&nbsp;&nbsp;&nbsp;/api/recipes/[id]/</li>
            <li>PUT&nbsp;&nbsp;&nbsp;&nbsp;Archivo test.http</li>
            <li>DELETE&nbsp;&nbsp;&nbsp;&nbsp;Archivo test.http</li>
        </ul>
    </body>
</html>