{% extends 'base.html' %}
{% block contenido %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detalles.css' %}">

    <!-- Botones -->
    <a class="fas fa-arrow-left" href="/"></a>
    
    {% if user.is_authenticated %}
        <a class="far fa-edit" href="{% url 'editar_receta' receta.id %}"></a>
    {% endif %}
    
    {% if user.is_superuser %}
        <a type="button" class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
    {% endif %}

    <!-- Ventana Modal de eliminación -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Receta</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro/a de que desea eliminar esta receta? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <a type="button" class="btn btn-primary" href="{% url 'eliminar_receta' receta.id %}">Eliminar</a>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Contenido -->
    <div class="div-detalles-comida" id="div-detalles-comida">
        <br><br><br>
        <p class="p-detalles-titulo">{{receta.nombre}}</p>
        <p class="p-detalles-receta">{{receta.preparación|linebreaksbr}}</p>
        
        {% if ingredientes %}
            <br>
            <p class="p-detalles-titulo">Ingredientes</p>
            <p class="p-detalles-receta">
                {% for ingrediente in ingredientes %}    
                    {{ingrediente.nombre}} : {{ingrediente.cantidad}} {{ingrediente.unidades}}<br>
                {% endfor %}
            </p>
        {% endif %}
        <br>
        <img src="/{{receta.foto}}" class="detalles-imagen">
    </div>
{% endblock %}