{% extends 'base.html' %}
{% block contenido %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <!-- Botones -->
    {% if user.is_superuser %}
        <a href="{% url 'nueva_receta' %}" class="fas fa-plus"></a>
    {% endif %}

    <!-- Contenido -->
    <br><br>
    {% for busqueda in busquedas %}
        <div class="div-index-comida">
            <a class="a-index-comida" href="{% url 'detalles' busqueda.id %}">{{busqueda.nombre}}</a>
            <br>
            <img src="/{{busqueda.foto}}" class="index-imagen">
        </div>
    {% endfor %}
{% endblock %}