{% extends 'base.html' %}
{% block contenido %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nueva_receta.css' %}">

    <!-- Botones -->
    <a class="fas fa-arrow-left" href="/"></a>
    
    <!-- Formulario -->
    <div class="div-nreceta-comida" id="div-nreceta-comida">
        <br><br>
        <p class="p-nreceta-titulo">Receta</p>
        <br>
        <form method="POST" class="form-nreceta" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        </form>
    </div>
{% endblock %}